<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>

<h1>Welcome to Incriminate!</h1>

<p>
	<a class ="btn btn-warning" href="/logout">Logout here</a>
</p>

<a class="link" href="/targets">Click me to see your existing targets</a>

<h2>Add a new target:</h2>

<form method="POST" action="/search">
	<p>
		<label class="nameagemail" for="search">Name:</label>
		<input type="text" required name="name" id = "search" placeholder="name...." autofocus>
	</p>
	<p>
		<label class="nameagemail" for="age">Age:&nbsp</label>
		<input type="text" name="age" id = "age" placeholder="age...." autofocus>
	</p>
	<p>
		<label class="nameagemail" for="email">Email:</label>
		<input type="email" required name="email" id = "email" placeholder="email...." autofocus>
	</p>
	<p>
	<input type="hidden" name="UserId" value ="<%= user.id %>">
	<input type="submit" class ="btn btn-info btn-lg" value ="Incriminate here!">
	</p>
</form>



<% include partials/footer.ejs %>