<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>

	<h1>Login</h1>

	<% if (message.length > 0) { %>
		<div class = "alert alert-danger">
		<%= message %>
		</div>
	<% } %>
		<form action="/login" method = "post">

			<p>
				<label class="userpass" for="user">Username:</label> <input type="text" name="username" id="user" placeholder="Please enter username"autofocus>
			</p>
			<p>
				<label class="userpass" for="pass">Password:</label> <input type="password" name="password" id="pass" placeholder="Please enter password">
			</p>
			<p>
				<input type="submit" value="Log In" class ="btn btn-default">
			</p>
		</form>
		<a class="login" href="/signup">Don't have an account? Click me to create on.</a>
<% include partials/footer.ejs %>