body { 
  background: url(http://www.laportecountysheriff.com/images/barscuffs.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 1px #000;
}

h1 {
	color: #eeeeee;
	font-size: 65px;
	font-style: bold, oblique;
	text-shadow: 1px 1px 1px #000;
}

h4 {
	color: #eeeeee;	
	font-style: bold;
	text-shadow: 1px 1px 1px #000;
}

li {
	color: #eeeeee;	
	font-style: bold;
	text-shadow: 1px 1px 1px #000;
}